@import url("./styles/components/header.css");
@import url("./styles/components/fonts.css");
@import url("./styles/components/headline.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
}

body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
:root {
  --dark: #282828;
  --gold: #ded0be;
  --green: #5f6039;
  --orange: #b05514;
  --dk-gold: #cfbca3;

  /*Font style*/
  --script: "Allura", cursive;
}

button {
  outline: none;
  border: none;
  border-radius: 0.2rem;
}
button:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}
header {
  max-width: 2000px;
}
section {
  max-width: 2000px;
  margin: auto;
  padding: 40px 0;
}
.wrapper {
  width: 90%;
  margin: auto;
}

/*Md*/
@media (min-width: 768px) {
}

/*Lg*/
@media (min-width: 1024px) {
  section {
    padding: 60px 0;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  section {
    padding: 90px 0;
  }
}
