@import url("./form.css");
@import url("./image.css");

section.contact {
  background: var(--dark);
  color: #f2e7e0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/*Lg*/
@media (min-width: 1024px) {
  section.contact .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  section {
    padding: 90px 0;
  }
}
