@import url("../../animations/slideshow.css");

section.slides {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../assets/slides/slide_one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: grid;
  place-items: center;
  color: white;
}
section.slides_two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../assets/slides/slide_two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: grid;
  place-items: center;
  color: white;
}
.slides_wrapper {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 15px;
  height: 100%;
  width: 90%;
  margin: auto;
}

/* Contant styles for each slide*/
.slides_wrapper h1 {
  letter-spacing: 15px;
}
.slides_wrapper h5 {
  font-family: var(--script);
  height: 20px;
}

/* Initial animations for slide */
section.slides h5 {
  animation: translate_down 1s;
  font-weight: normal;
}
section.slides h1 {
  animation: translate_right 1s;
}
section.slides p {
  animation: translate_up 1s;
}

/* Change Text */
section.slides h1::after {
  content: ".Extend.";
}
section.slides_two h1::after {
  content: ".Color.";
}

/*Md*/
@media (min-width: 768px) {
  section.slides {
    min-height: 400px;
  }
  section.slides_two {
    min-height: 400px;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  .slides_wrapper {
    gap: 20px;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  .slides_wrapper {
    gap: 40px;
  }
}
