@keyframes translate_right {
  20%,
  100% {
    transform: translateX(0);
  }
}
@keyframes translate_left {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes translate_down {
  20%,
  100% {
    transform: translateY(0);
  }
}
@keyframes translate_up {
  20%,
  100% {
    transform: translateY(0);
  }
}
