section.specialties {
  background: var(--gold);
  text-align: center;
  display: grid;
  gap: 30px;
  overflow: hidden;
}
section.specialties h2 {
  color: white;
}
section.specialties .wrapper {
  display: grid;
  gap: 40px;
}
section.specialties .wrapper div {
  background: #faf7f5;
  position: relative;
  text-align: center;
  height: 220px;
  color: var(--green);
  display: grid;
  place-content: center;
  gap: 15px;
  padding: 0 20px;
}
section.specialties h1 {
  position: absolute;
  right: 0;
  bottom: -40px;
  font-family: var(--script);
  color: var(--green);
  font-weight: 400;
}
section.specialties .start {
  font-size: 1.6rem;
  color: var(--orange);
  font-weight: 600;
}

/*Md*/
@media (min-width: 768px) {
  section.specialties {
    gap: 30px;
  }
  section.specialties .wrapper {
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
  section.specialties .wrapper div {
    height: 200px;
    gap: 15px;
    padding: 0 20px;
  }
  section.specialties h1 {
    bottom: -40px;
  }
  section.specialties .start {
    font-size: 1.8rem;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  section.specialties {
    gap: 40px;
  }
  section.specialties .wrapper {
    gap: 40px 20px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 96%;
  }
  section.specialties .wrapper div {
    height: 300px;
    padding: 0 30px;
  }
  section.specialties h1 {
    bottom: -60px;
  }
  section.specialties .start {
    font-size: 2rem;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  section.specialties {
    gap: 50px;
  }
  section.specialties .wrapper {
    gap: 50px 30px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 96%;
  }
  section.specialties .wrapper div {
    height: 350px;
    padding: 0 30px;
  }
  section.specialties h1 {
    bottom: -90px;
  }
}
