h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Assistant", sans-serif;
}
p {
  font-family: "Assistant", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.4;
}
a {
  font-family: "Assistant", sans-serif;
  text-decoration: none;
  color: inherit;
}
button {
  font-family: "Assistant", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.3rem;
}
h3 {
  font-size: 2.7rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 1.9rem;
}
h6 {
  font-size: 1.5rem;
}

/*Lg*/
@media (min-width: 1024px) {
  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 4.3rem;
  }
  h3 {
    font-size: 3.7rem;
  }
  h4 {
    font-size: 3.2rem;
  }
  h5 {
    font-size: 2.9rem;
  }
  h6 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
  button {
    font-size: 1.5rem;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  h1 {
    font-size: 9rem;
  }
  h2 {
    font-size: 5.3rem;
  }
  h3 {
    font-size: 4.7rem;
  }
  h4 {
    font-size: 4.2rem;
  }
  h5 {
    font-size: 4rem;
  }
  h6 {
    font-size: 3.5rem;
  }
  p {
    font-size: 2rem;
  }
  button {
    font-size: 2rem;
  }
}
