.headline {
  color: white;
  display: grid;
  place-items: center;
  position: relative;
  gap: 40px;
  text-align: center;
}
.headline button {
  width: 250px;
  margin: auto;
  padding: 15px 0;
  background: none;
  color: white;
  border: var(--green) solid 2px;
}
.headline h1 {
  position: absolute;
  font-family: var(--script);
  color: var(--green);
  font-weight: 400;
  top: -30px;
  font-size: 7.2rem;
  text-align: center;
}
.headline .title_container {
  z-index: 3;
  text-align: center;
}

/*Lg*/
@media (min-width: 1024px) {
  .headline {
    gap: 40px;
    width: 45vw;
    max-width: 1000px;
    text-align: center;
  }
  .headline button {
    width: 300px;
    padding: 20px 0;
  }
  .headline h1 {
    font-size: 12rem;
    top: -70px;
  }
  .headline .title_container {
    z-index: 3;
    text-align: center;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  .headline button {
    width: 350px;
  }
  .headline {
    gap: 60px;
  }
  .headline h1 {
    font-size: 14rem;
    top: -70px;
  }
}
