section.ibe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../../assets/ibe/salon_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}
section.ibe .wrapper {
  display: grid;
  place-items: center;
  height: 100%;
}
section.ibe article {
  display: grid;
  place-items: center;
  text-align: center;
  gap: 20px;
}
section.ibe h3 {
  line-height: 1.2;
}
section.ibe img {
  width: 200px;
}
section.ibe a {
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

/*Md*/
@media (min-width: 768px) {
  section.ibe {
    min-height: 500px;
  }
}

/*Lg*/
@media (min-width: 1024px) {
  section.ibe {
    min-height: 700px;
  }
  section.ibe article {
    gap: 40px;
    width: 80%;
  }
  section.ibe a {
    font-size: 2.3rem;
  }
  section.ibe img {
    width: 250px;
  }
}

/*2xl*/
@media (min-width: 1536px) {
  section.ibe article {
    gap: 30px;
    width: 80%;
  }
  section.ibe a {
    font-size: 3rem;
  }
  section.ibe img {
    width: 350px;
  }
}
